.addGroupDiv{
    background-color: white;
    width: 40%;
    min-width: 365px;
    border-radius: 21px;
    margin: 0 auto;
    padding: 65px 0px;
    text-align: center;
}

 .groupBackGround{
    background: url("../assets/login-page/login-wallpaper.jpg");
    background-color: var(--bgcolor);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 46px 0;
}


 .addGroupForm{
    width: 80%;
    margin-left: 10%;
} 