.Dashboard {
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: var(--bgcolor);
}

.dash-header {
  flex: 1;
  width: 100%;
  display: flex;
  margin: 2rem auto;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}
.dash-header h1 {
  order: 2;
  width: 75%;
  margin: 1rem;
}

.sidebar {
  display: flex;
  justify-content: center;
  width: 20%;
  padding: 1rem;
}

.sidebar button {
  background: var(--btncolor);
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  vertical-align: center;
  text-align: center;
  margin: 1rem;
  color: rgb(0, 0, 0);
  border-style: none;
  cursor: pointer;
}
.cards {
  display: flex;
  flex-flow: row wrap;
}

.cards a button {
  border-radius: 1rem;
  overflow: hidden;
  margin: 1rem;
}
.group-card button {
  border-radius: 1rem;
  overflow: hidden;
  margin: 1rem;
}
.dash-header div {
  order: 1;
  margin: 1rem;
}

.dash-buttons {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 80%;

  margin: 0 auto;
  float: bottom;
  justify-self: flex-end;
}
.dash-buttons p {
  cursor: pointer;
}

.di {
  margin: 0.5%;
  height: 50%;
}
.di .circle,
circle {
  fill: var(--accentcolor);
}

.section-ctr {
  flex: 2;
  display: flex;
  width: 100%;
}

.icon-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-2 {
  height: 100vh;
  background: black;
  color: white;
}

.section-3 {
  height: 100vh;
  background: white;
  color: magenta;
}
