.membersCardsView{
    display:flex;
}

.bottomTableAndUsers{
    display: flex;
    justify-content: space-between;
}
.topHeaderAndButtons{
    display: flex;
    justify-content: space-between;
}

.groupTopButtons{
    width: 30%;
    height: 80%;
}

.groupsHeader{
padding-left: 2%;
}

.buttomInviteButton{
display: flex;
justify-content: center;
/* margin: 1% 1% 1% 1%; */
}

.imageButtons{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin: 1% 1% 1% 1%;
}

