.membersCardsView{
    display:flex;
}

.bottomTableAndUsers{
    display: flex;
    justify-content: space-between;
}
.topHeaderAndButtons{
    display: flex;
    justify-content: space-between;
    min-height: 15%;
    max-height: 50%;
}

.rightBottomView{
    margin-right: 8%;
}
.groupTopButtons{
    width: 30%;
    height: 80%;
}

.groupsHeader{
padding-left: 2%;
}

.buttomInviteButton{
display: flex;
justify-content: center;
/* margin: 1% 1% 1% 1%; */
}

.imageButtons{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin: 1%;
}

.threeButtonsOne{
    height: 100%;
    border-radius: 0.5rem;
}

.iconLinks{
    display: flex;
    justify-content: center;
}

.houseText{
    text-align: center;
}

.inviteButtonSpace{
    margin:5%;
}