.membersCardsView{
    display:flex;
}

.bottomTableAndUsers{
    display: flex;
    justify-content: space-between;
}
.topHeaderAndButtons{
    display: flex;
}

.groupTopButtons{
    width: 30%;
    height: 80%;
}

.groupHeader{
    width: 60%;
    height: 100%;
}

.buttomInviteButton{
display: flex;
justify-content: center;
}