@import "./reset.css";
@import "./global.css";
@import "./colors.css";
@import "./landing.css";
@import "./navbar.css";
@import "./dashboard.css";
@import "./taskList.css";
@import "./group.css";

@import "./colors.css";
@import "./login.css";
@import "./troopmates.css";
