.login-bg {
  background: url('../assets/login-page/login-wallpaper.jpg');
  background-color: var(--bgcolor);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button-container {
  background-color: white;
  width: 40%;
  border-radius: 1rem;
  margin: 0 auto;

  height: 90%;
}

.logo {
  height: 30%;
  width: 30%;
  background: url('../assets/landing-page/png/logo.png');
  /* background: url("../assets/login-page/logo.png"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}

.forgot-password {
  text-align: center;
}
