.profileContainer {
  margin: 0 auto;
  width: 100%;
  height: 100vh;

  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%23f2a81d' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E");
  color: rgb(31, 31, 31);
}
.profileBtn {
  display: flex;
  justify-content: center;
}
.connectBtn {
  background: rgb(31, 31, 31);
  color: white;
  padding: 1rem 2rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 1rem;
}

.profileLocation {
  color: grey;
  text-align: center;
}

.profileName {
  text-align: center;
  font-size: 3rem;
  margin-top: 50px;
}

.profilePhoto {
  margin: 0 auto;
  display: block;
  width: 20%;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50%;
  border-radius: 10%;
  filter: drop-shadow(10px 10px 30px #333);
  z-index: 1;
}

.socialLinks {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  width: 80%;
  margin-top: 25px;
}

.socialLinks svg {
  margin: 0.5rem;
  font-size: 3rem;
}

.profileHeader {
  width: 100%;
  margin-top: 0;
  height: 30vh;
}

.coverPhoto {
  background: url("https://source.unsplash.com/random");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
}

.lower-block {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 45%;
  height: 40%;
}

.header {
  height: 40vh;
}

.placeholderPhoto {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
