.settings {
  background: var(--accentpink);
}

.settings-form {
  background: white;
  width: 60%;
  border-left: 20px solid var(--bgcolor);
  border-right: 20px solid var(--bgcolor);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.settings-form input,
.input-field {
  background-color: white;
}
