.groupTableList{
    width: 150%;
    padding-left: 5%;
}
.membersCardsView{
    display: flex;
    justify-content: center;
}

.tableActionButtons{
    margin: 1%;
}
.editTaskModal{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 50%;
    position: absolute;
    right: 25%;
    top:20%;
    padding:2%;
}
.modalEditHeader{
text-align: center;
}

.modalEditForm{
    width: 70%;
}

.bottomModalButtons{
    display: flex;
    justify-content: space-evenly;
    margin-left: 25%;
    width: 50%;
    margin-top: 2%;
}

.middleEditModal{
    display: flex;
    justify-content: space-evenly;
}

.editModalRound{
    border-radius: 7%;
}
.modalButtonText{
    color: white;
}
/* 
#textV {
    border: 1px solid #ccc;
    display: none;
    font-size: 10px;
    margin-top: 10px;
    padding: 5px;
    text-transform: uppercase;
}

#someDiv:hover #textV{
    display: block;
} */

/* .boldTable{
    font-weight: bolder;
} */